<%- include('partials/header'); -%>

    <h1>
        <%= pageHead %>
    </h1>

    <p>
        <%= content %>
    </p>
    <% newInput.forEach((input)=>{ %>
        <h3>
            <%= input.title %>
        </h3>
        <p>
            <%= input.content.substring(1, 101);%>...
                <a href='/post/<%= input.title%>'>Read more</a>
        </p>
        <% }) %>




            <%- include('partials/footer'); -%>